
body {
    background-color: #2c2c2c;
    color: white;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}

/* Source for responsive text: https://www.w3schools.com/howto/howto_css_responsive_text.asp */
h1 {
    text-align: center;
    font-size: 4vw;
    margin-left: 5%;
    margin-right: 5%;
}

h2 {
    font-size: 2.75vw;
}

.topnav {
    text-align: right;
    margin-top: 20px;
}
.topnav a {
    text-align: center;
    color: white;
    font-size: 1.25vw;
    padding: 3%;
    text-decoration: none;
}

.topnav a:active {
    color: #C6C4C4;
    text-decoration:underline;
}

.topnav a:hover {
    color: #C6C4C4;
    text-decoration:underline;
}


img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 7%
    
}

.text {
    font-size: 20px;
    margin-right:25%;
    margin-left:25%;
}

.about-img {
  float:left;
  margin-left: 10%;
  margin-right: 3%;
  width: 25%;
}

.about-text::after {
    content:"";
    clear: both;
    display: table;
    margin-bottom: 6%;
    padding-left: 10%;
}

.about-me {
    padding: 4%;
}

.button {
    border:none;
    
}

iframe {
    border: none;
}


input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px; 
    resize: vertical 
  }
  
  input[type=submit] {
    background-color: #AD7BEA;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #e37c6e;
  }
  
  .container-fluid {
    border-radius: 5px;
    background-color: #bebdbd;
    padding: 20px;
  }

  .responsive {
    width: 100%;
    height: auto;
    min-width: 100px;
    margin-right: 10px;
  }

  
  
  